@import "tailwindcss";

@layer base {
  .font-cabin-sketch {
    font-family: 'Cabin Sketch', cursive;
  }
  .font-open-sans {
    font-family: 'Open Sans', sans-serif;
  }

  .font-cabin-sketch-regular {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .font-cabin-sketch-bold {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .font-reenie-beanie-regular {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
  }
}


@theme static {
  --color-primary: #a0522d;
  --color-secondary: #fff3e0;
  --color-vantan: #e1cca9;
  --color-vangreen: #66bb6a;
  --color-vanorange: #ffb74d;
  --color-vantext: #3e2723;
}

